---
import Page from "../../layouts/Page.astro";
import BlogList from "../../components/BlogList.astro";
import { getBlogPosts } from "../../content/utils";

const posts = (await getBlogPosts()).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page>
	<main>
		<BlogList posts={posts} />
	</main>
</Page>
