---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Page from "../layouts/Page.astro";
import BlogList from "../components/BlogList.astro";

import { getCollection } from "astro:content";

const posts = (await getCollection("blog")).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<Page title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<h1 class="text-3xl font-serif">Welcome!</h1>
		<p>
			My name is Luke. I'm a software engineer in Columbus, Ohio. Here,
			you'll find my various rants about tech, software development, and
			other things I'm passionate about!
		</p>
		<section class="my-8">
			<h2 class="text-2xl font-serif">Recent Posts</h2>
			<BlogList posts={posts.slice(0, 5)} />
		</section>
	</main>
</Page>
