---
const today = new Date();
---

<footer>
	&copy; {today.getFullYear()} Luke Shafer. Built with <a href="https://astro.build">Astro</a>.
</footer>
<style>
	footer {
		padding: 25px;
		text-align: center;
	}
</style>
