---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="mb-8">
	<h2
		class="my-2 font-title text-6xl tracking-wider text-transparent bg-clip-text bg-gradient-to-r from-red-400 to-yellow-400 text-border"
	>
		{SITE_TITLE}
	</h2>
	<nav class="flex gap-4">
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/blog">Blog</HeaderLink>
		<HeaderLink href="https://twitter.com/lksh_dev" target="_blank">
			Twitter
		</HeaderLink>
		<HeaderLink href="https://github.com/lukeshafer" target="_blank">
			GitHub
		</HeaderLink>
	</nav>
	<mr class="pt-2 border-b-2 border-red-800 block"></mr>
</header>

<style>
	.text-border {
		-webkit-text-stroke-color: #78350f;
		-webkit-text-stroke-width: 2px;
	}
</style>
